# Venv files
/venv/
/.venv/

# Python and jupyter cache files
/__pycache__/
/src/csslib/__pycache__/
/src/csslib/tools/__pycache__/
/tests/__pycache__/
/.ipynb_checkpoints/
/tests/.ipynb_checkpoints/

# IDE files
/.vscode/
/.idea/

# Supercell binary
/supercell.exe
/supercell

# Library pypi build files
/dist/
/src/csslib.egg-info/

# UV files
uv.lock

# Library tests output files
/results/
/src/results/
/tests/results/
/tests/data/results/
/src/csslib/csslib.log

# Mac files
.DS_store
